body{
    background-color: #000000;
    color: #ffffff;
}
.Main{
    text-align: center;
}
#Main-description{
    border-width: 1px;
    border-style: outset;
    border-color: #ffffff;
    display: inline-block;
}
.bullets{
    display: inline-block;
    text-align: left;
}

